<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="path/to/your/styles.css"> <!-- Make sure the path to CSS is correct -->
</head>

<body>
    <header>
        <h1>Welcome to Your Dashboard</h1>
        Logged in: {{userLoggedIn}} <!-- This will display true or false -->
    </header>
    <main>
        <div class="post-list">
            {{#each posts}}
            <div class="post">
                <div class="post-top">
                    <h2 class="post-title"><a href="/post/{{this.id}}">{{this.title}}</a></h2>
                    <p class="post-info">Posted by {{this.User.username}} on {{formatDate this.createdAt}}</p>

                </div>
                <div class="post-bottom">
                    <p class="post-content">{{content}}</p>
                    <!-- Edit link for each post on the dashboard -->
                    <a href="/edit/{{id}}" class="edit-link">Edit</a>
                </div>
            </div>
            {{/each}}
        </div>
        <a href="/new-post" class="new-post-link">+ New Post</a>
    </main>

    {{#if userLoggedIn}}
    <p>Welcome back! You are logged in.</p>
    {{else}}
    <p>Hello guest! Please <a href="/login">log in</a> to continue.</p>
    {{/if}}
</body>

</html>
