<main>
    <div class="post-list">
        {{#each posts}}
        <div class="post">
            <div class="post-top">
                <h2 class="post-title"><a href="/post/{{this.id}}">{{this.title}}</a></h2>
                <div class="post-info">
                    <div class="info-box">
                        <div class="datetime">Posted by {{this.User.username}} on {{formatDate this.createdAt}}</div>
                        <div class="actions">
                            <a href="/edit/{{this.id}}" class="edit-link">Edit</a>
                                <form action="/delete/{{this.id}}" method="POST" class="delete-form" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-content">{{this.content}}</div>
        </div>
        {{/each}}
    </div>
    <a href="/new-post" class="new-post-link">+ New Post</a>
</main>
