<main>
    <h1>Welcome to the Homepage</h1>
    {{#each posts}}
    <div class="post">
        <div class="post-top">
            <!-- Post title: click to toggle comment box -->
            <h2 class="post-title">
                <a href="javascript:void(0)" onclick="handlePostClick(event, '{{this.id}}');">
                    {{this.title}}
                </a>
            </h2>
            <p class="post-info">Posted by {{this.User.username}} on {{formatDate this.createdAt}}</p>
        </div>
        <div class="post-bottom">
            <p class="post-content">{{this.content}}</p>
        </div>
    </div>
    {{/each}}
</main>
