{{!-- home.handlebars --}}

<main>
    <h1>Welcome to the Homepage</h1>
    {{#each posts}}
    <div class="post">
        <div class="post-top">
            <h2 class="post-title" onclick="toggleCommentBox('{{this.id}}')">
                <a href="javascript:void(0);">{{this.title}}</a>
            </h2>
            <p class="post-info">Posted by {{this.User.username}} on {{formatDate this.createdAt}}</p>
        </div>
        <div class="post-bottom">
            <p class="post-content">{{this.content}}</p>
        </div>
        <!-- Hidden comment box -->
        <div id="comment-box-{{this.id}}" class="comment-box" style="display:none;">
            <textarea placeholder="Leave a comment..." rows="3"></textarea>
            <button type="button" onclick="submitComment('{{this.id}}')">Submit Comment</button>
        </div>
    </div>
    {{/each}}
</main>




